* {
    padding: 0;
    margin: 0;
}

body {
    background-color: wheat;
}

.full {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-rows: 130px auto 200px;
    grid-template-columns: repeat(3, 1fr);
}

header {
    grid-area: header;
    background-color: gold;
    height: 100%;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: row;
}

.ladoizqHeader {
    height: 100%;
    width: 20%;
    /* background-image: url(../img/images.jpg); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ladodechoHeader {
    /* height: 100%; */
    width: 75%;
}

.elementosnav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.elementosnav li {
    border-radius: 15px;
    background-color: goldenrod;
    padding: 12px;
    border: solid 3px darkgoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrito {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 7px;
}

.boton-carro {
    padding: 0;
    width: 50%;
    height: 35px;
    background-color: white;
    max-width: fit-content;
    padding: 8px;
    border: groove 2px;
    border-radius: 10px;
    border-style: none;
}

.tituloPrincipal {
    font-size: 15px;
    color: red;
    position: relative;
    bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    grid-area: main;
    background-color: #2F1000
}

/* .cuerpo{
    height: 100%;
    width: 100%; 
    display: flex; 
    justify-content: space-around;
    gap: 20px;  
} */

/* .cartas{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 20px;
}  */

/* .imagenes{
    height: 100px; 
    width: 200px; 
    overflow: hidden;
}  */

footer {
    grid-area: footer;
    background-color: black;
}